<style>
@import url('https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css');
</style>

<div class="view bg-white">
  <div class="layout layout--col gap--space-between">
    <div class="columns">
      <div class="column">
        <div class="section">
          <span class="title title--small"><i class="mdi mdi-gauge"></i> Other Sensors</span>
          <table class="table table--condensed">
            <tbody>
              {% for entity in entities %}
                {% if entity.device_class != "temperature" %}
                <tr>
                  <td><span class="title title--small">{{ entity.friendly_name }}</span></td>
                  {% if entity.attributes.unit_of_measurement %}
                    <td><span class="title title--small">{{ entity.value }}{{ entity.attributes.unit_of_measurement }}</span></td>
                  {% else %}
                    <td><span class="title title--small">{{ entity.state }}{{ entity.unit_of_measurement }}</span></td>
                  {% endif %}
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <i class="mdi mdi-home-assistant"></i>
    <span class="title">Home Assistant</span>
    <span class="instance">Other Sensors</span>
  </div>
</div> 