{% assign lat = latitude | default: "UNKNOWN" %}
{% assign long = longitude | default: "UNKNOWN" %}
{% assign tz = trmnl.user.time_zone_iana | default: "UNKNOWN" %}

{% assign start_time_hour = 8 %}
{% assign end_time_hour = 19 %}

{% assign current_time = "now" | date: "%Y-%m-%d %H:00" %}
{% assign end_time = "now" | date: "%Y-%m-%d" | append: " 23:00" %}

<div class="layout">
  <div class="description">
    <div class="title">Wind Conditions for {{ lat }}, {{ long }}</div>
    <div class="label">Timezone: {{ tz }}</div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Wind Speed ({{ hourly_units.wind_speed_10m }})</th>
          <th>Direction ({{ hourly_units.wind_direction_10m }})</th>
          <th>Gusts ({{ hourly_units.wind_gusts_10m }})</th>
        </tr>
      </thead>
      <tbody>
        {% for i in (start_time_hour..end_time_hour) %}
          {% assign time = hourly.time[i] | date: "%H:%M" %}
          <tr>
            <td>{{ time }}</td>
            <td class="text--center">{{ hourly.wind_speed_10m[i] }}</td>
            <td class="text--center">{{ hourly.wind_direction_10m[i] }}°</td>
            <td class="text--center">{{ hourly.wind_gusts_10m[i] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="title_bar">
  <div class="title">Wind Speed & Direction</div>
  <div class="instance">Data from Open-Meteo for {{ trmnl.user.first_name }}</div>
</div> 